.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.cardContainerCardWrapper {
    display: block;
    margin: 0;
    width: 100%;
}

.mainContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.titleContainer {
    margin-bottom: 20px;
}
